<div class="container-fluid">
  <div class="row">
    <!-- Coluna para o Mapa -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Distribuição de Ocorrências no mapa em João Pessoa</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            <%= link_to "Clique aqui para ampliar o mapa", admins_home_map_path, class: "text-decoration-none", target: "_blank" %>
          </h6>
        </div>
        <div class="card-body">
          <div id="map"
        data-controller="map"
        data-map-points-value="<%= @dados.to_json %>"
        style="height: 500px; width: 100%;">
          </div>
        </div>
      </div>
    </div>
    <!-- Coluna para o Gráfico -->
    <div class="col-md-6" data-controller="graph">
      <div data-graph-target="data" data-graph-incidents="<%= @incidents.to_json %>"></div>
      <div data-graph-target="graph">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Gráfico de Ocorrências em João Pessoa</h5>
          </div>
          <div class="card-body">
            <div data-graph-target="chart" style="height: 500px;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
