<%# está view foi criada apenas com intuito de testar o bootstratp, em breve vai ser mudada %>
<div class="container-flouid">
  <div id="map"
    data-controller="map"
     data-map-points-value="<%= @dados.to_json %>"
     style="height: 500px; width: 100%;">
  </div>
  <div data-controller="graph">
    <div data-graph-target="data" data-graph-incidents="<%= @incidents.to_json %>"></div>
    <div data-graph-target="graph">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Distribuição de Incidentes</h5>
        </div>
        <div class="card-body">
          <div data-graph-target="chart"></div>
        </div>
      </div>
    </div>
  </div>

</div>
